<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intro</title>
    <!-- setting font to awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <!-- style sheets -->
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <header id="home">
        <!-- navbar -->
        <nav id="nav">
            <div class="nav-center">
                <!-- nav header -->
                <div class="nav-header">
                    <img src="img/logo3.jpg" class="logo" alt="logo" />
                    <button class="nav-toggle">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <!-- links -->
                <div class="links-container">
                    <ul class="links">
                        <li>
                            <a href="#home" class="scroll-link">home</a>
                        </li>
                        <li>
                            <a href="#about" class="scroll-link">about</a>
                        </li>
                        <li>
                            <a href="#services" class="scroll-link">services</a>
                        </li>
                        <li>
                            <a href="#tours" class="scroll-link">contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- banner -->
        <div class="banner">
            <div class="container">
                <h1>PRODUCTIVITY UP</h1>
                <p>
                    Boost your productivity using PRODUCTIVITY UP, a tool designed to make you more productive. So you can do more. <br> Let's  
                </p>
                <a href="/login" class="scroll-link btn btn-white">get started</a>
            </div>
        </div>
    </header>
    <!-- about -->
    <section id="about" class="section">
        <div class="title">
            <h2>about <span>us</span></h2>
            <div class="content">
                <p> 
                    PRODUCTIVITY UP is a tool designed for you to track your tasks, deadline, scores, attendance and much more.
                </p>
                <p>
                    Using PRODUCTIVITY UP you can achieve more, be more productive, more efficient and more organised.
                </p>
                <p>
                    Isn't it all you ever wanted to be?
                </p>
                <p>
                    Specially designed for student to manage their hectic schedules.
                </p>
            </div>
        </div>
    </section>
    <!-- services -->
    <section id="services" class="section">
        <div class="title">
            <h2>our <span>services</span></h2>
            <div class="content">
                <p id="tracker">
                    Track your:
                </p>
                <p>
                    To-Do list
                </p>
                <p>
                    Deadlines
                </p>
                <p>
                    Scores
                </p>
                <p>
                    Attendance
                </p>
            </div>
        </div>
    </section>
    <!-- contact -->
    <section id="tours" class="section">
        <div class="title">
            <h2>contact <span>us</span></h2>
            <div class="content">
                <p>
                    Phone Number : +91 7639293391
                    <br>
                    <br>
                    Email : <a href="mailto:  teamup@upworks.com">teamup@upworks.com</a> 
                    <br>
                    <br>
                    <div class="sociallinks">
                        <div class="imagelink">
                            <a href="instagram.com"><image src="img/instalogo.jpg" alt="instagram" height="100" width="30"></image></a>
                        </div>
                        <div class="imagelink">
                            <a href="facebook.com"><image src="img/fblogo.png" alt="instagram" height="100" width="30"></image></a>
                        </div>
                        <div class="imagelink">
                            <a href="twitter.com"><image src="img/twitterlogo.png" alt="instagram" height="100" width="30"></image></a>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer class="section">
        <p>
            copyright &copy;Team UP 2022. all rights reserved
        </p>
    </footer>
    <a class="scroll-link top-link" href="#home">
        <i class="fas fa-arrow-up"></i>
    </a>
    <!-- javascript -->
    <script src="js/start.js"></script>
</body>

</html>