<!DOCTYPE html>
<html lang="en">
<>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document`</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/hstyle.css">
    </head>

    <body>
        <div class="login">
            <!--<div><img src="../assets/css/img2.png" alt="no internet" class="user"></div>! -->
            <form>
                <h1>Login Here</h1>
                <div class="u1">Username</div>
                <input type="text" placeholder="Enter your username" name=>
                <div class="u1">Password</div>
                <input type="password" placeholder="Enter password">
                <input type="submit" value="login">
                <span> <a href="#">Forgot Password ?</a></span>

                <br>
                <a href="#">Don't have a account ?</a>
            </form>

        </div>

    </body>

</html>