<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/6efa6b5eb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/profile.css">
</head>

<body>

    <div class="wrapper">
        <div class="side_bar">
            <div class="side_bar_top">
                <div class="profile_pic">
                    <img src="img/img2.png" alt="profile">
                </div>
            </div>
            <div class="side_bar_bottom">
                <ul>
                    <li class="active">
                        <span class="top_curve"></span>
                        <a href="#">
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="item">profile</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="/task">
                            <span class="icon"><i class="fa-solid fa-list-check"></i></span>
                            <span class="item">TASK</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="/deadline">
                            <span class="icon"><i class="fa-solid fa-book-open"></i></span>
                            <span class="item">DEADLINES</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="/score">
                            <span class="icon"><i class="fa-solid fa-ranking-star"></i></span>
                            <span class="item">SCORE</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="/attendence">
                            <span class="icon"><i class="fas fa-chart-pie"></i></span>
                            <span class="item">ATTENDENCE</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="/setting">
                            <span class="icon"><i class="fas fa-cog"></i></span>
                            <span class="item">SETTINGS</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="/login">
                            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                            <span class="item">LOGOUT</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main_container">
            <h1>welcome aboard</h1>
            <br>
            <hr>
            <br>
            <h2>our services</h2>
            <br>
            <hr>
            <br>
            <h3>TASK LIST</h3>
            <br>
            <p>want to list your all task for future all at same place,well all student want that so we here to help you
                have added a section name task where you can list all your task in a table and then manage,see and even
                delete task.Now you never have to worry what you have to do next in your day just have a glance there.
            </p>
            <br>
            <h3>DEADLINE INFORMATION</h3>
            <br>
            <p>
                in collage we get plenty of assignment which need to be done in time but some time we forget that what
                we have to do and which need to be done first. we go to our deadline section there you have to just list
                task and date once and you will get what to do and when to do.
            </p>
            <br>
            <h3>SCORE MANAGER</h3>
            <br>
            <p>worry about your cpi and which course you are laking add you course wise score in score table and you
                will understand what is that you need to improve and where you excel.</p>
            <br>
            <h3>ATTENDANCE</h3>
            <br>
            <p>are you having 75% attendance or not? big question in every student head,we got you cover fill your
                attendance detail in our attendance section se if you have enough attendance or need to improve it.</p>
        </div>
    </div>

</body>
<script src="js/profile.js"></script>

</html>