<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>setting</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://kit.fontawesome.com/6efa6b5eb3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/setting.css">
</head>

<body>
    <div class="wrapper">
        <div class="side_bar">
            <div class="side_bar_top">
                <div class="profile_pic">
                    <img src="img/img2.png" alt="profile">
                </div>
                <div class="profile_info">
                    <h3>ALEX JOHN</h3>
                    <p>alex.john@gmail.com</p>
                </div>
            </div>
            <div class="side_bar_bottom">
                <ul>
                    <li>
                        <span class="top_curve"></span>
                        <a href="/profile">
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="item">profile</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="#">
                            <span class="icon"><i class="fas fa-fighter-jet"></i></span>
                            <span class="item">CONNECT</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="/task">
                            <span class="icon"><i class="fa-solid fa-list-check"></i></span>
                            <span class="item">TASK</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="#">
                            <span class="icon"><i class="fa-solid fa-book-open"></i></span>
                            <span class="item">DEADLINES</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="#">
                            <span class="icon"><i class="fa-solid fa-ranking-star"></i></span>
                            <span class="item">SCORE</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="#">
                            <span class="icon"><i class="fas fa-chart-pie"></i></span>
                            <span class="item">ATTENDENCE</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li class="active">
                        <span class="top_curve"></span>
                        <a href="#">
                            <span class="icon"><i class="fas fa-cog"></i></span>
                            <span class="item">SETTINGS</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                    <li>
                        <span class="top_curve"></span>
                        <a href="/login">
                            <span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span>
                            <span class="item">LOGOUT</span></a>
                        <span class="bottom_curve"></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main_container">
            <div class="card">
                <div class="container">
                    <img src="img/img2.png" alt="profile-img">
                    <h2>Ildiko Gaspar</h2>
                    <small>UX Designer|devloper</small>
                    <div class="bar">
                        <button class="btn">
                  <i class="far fa-smile"></i>
                  <span>add a tag</span>
                </button>
                        <button class="btn">
                  <i class="fas fa-pen"></i>
                  <span>Edit profile</span>
                </button>
                        <button class="btn btn-more">
                  <i class="fas fa-ellipsis-h"></i>
                  <span>contact us</span>
                </button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
<script src="js/setting.js"></script>

</html>