@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #2C003E;
    padding: 20px;
}

.wrapper {
    background: #D2FAFB;
    height: calc(100vh - 40px);
    border-radius: 15px;
    display: flex;
}

.side_bar {
    width: 250px;
    height: 100%;
}

.main_container {
    width: calc(100% - 250px);
    padding: 30px;
    overflow: hidden;
}

.main_container p {
    line-height: 22px;
    margin-bottom: 20px;
}

.side_bar .side_bar_top {
    background: #41AAA8;
    height: 225px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 30px;
}

.side_bar .side_bar_top .profile_pic {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.side_bar .side_bar_top .profile_pic img {
    width: 115px;
    height: 115px;
    padding: 5px;
    border: 2px solid #dbcbe2;
    border-radius: 50%;
}

.side_bar .side_bar_top .profile_info {
    text-align: center;
    color: #2C003E;
}

.side_bar .side_bar_top .profile_info p {
    margin-top: 5px;
    font-size: 12px;
}

.side_bar .side_bar_bottom {
    background: #41AAA8;
    height: calc(100% - 225px);
    padding: 20px 0;
    padding-left: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.side_bar .side_bar_bottom ul li {
    position: relative;
}

.side_bar .side_bar_bottom ul li a {
    display: block;
    padding: 15px;
    font-size: 14px;
    color: #D2FAFB;
    margin-bottom: 5px;
}

.side_bar .side_bar_bottom ul li a .icon {
    margin-right: 8px;
}

.side_bar .side_bar_bottom ul li.active a {
    background: #D2FAFB;
    color: #425c5a;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.side_bar .side_bar_bottom ul li.active .top_curve,
.side_bar .side_bar_bottom ul li.active .bottom_curve {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px;
    background: #D2FAFB;
}

.side_bar .side_bar_bottom ul li.active .top_curve {
    top: -20px;
}

.side_bar .side_bar_bottom ul li.active .bottom_curve {
    bottom: -20px;
}

.side_bar .side_bar_bottom ul li.active .top_curve:before,
.side_bar .side_bar_bottom ul li.active .bottom_curve:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #41AAA8;
}

.side_bar .side_bar_bottom ul li.active .top_curve:before {
    border-bottom-right-radius: 25px;
}

.side_bar .side_bar_bottom ul li.active .bottom_curve:before {
    border-top-right-radius: 25px;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 450px;
    padding: 20px 35px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
  }
  
  .container .title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    color: #005faf;
  }
  
  .container .inside_container{
    margin-bottom: 18px;
  }
  
  .container .inside_container:last-child{
    margin-bottom: 0;
  }
  
  .container .inside_container label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #757575;
  }
  
  .container .inside_container .input{
    border: 1px solid #d5dbd9;
    width: 100%;
    outline: none;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .container .inside_container .custom_select{
    border: 1px solid #d5dbd9;
    position: relative;
  }
  
  .container .inside_container .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .container .inside_container .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
  }
  
  .container .inside_container .error_msg {
      color: #e87060;
      font-size: 14px;
      margin-top: 5px;
      display: none;
  }
  
  .container .inside_container .input:focus{
    border-color: #005faf;
  }
  
  .container .inside_container .btn{
    width: 100%;
    padding: 10px;
    border: 0px;
    background: #005faf;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .container .inside_container .btn:hover{
    background: #0179e0;
  }